@import './color';

.carousel-size {
  width: 500px;
  height: 300px;
}

div#image-carousel div.item img {
  object-fit: contain;
  height: 300px;
  margin: 0 auto;
}

div.img-pre-show {
  margin-right: 4px;
}

.flex-box {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.first {
  margin-bottom: 4px;
}

.animation-resize {
  transition: transform .2s;

  &:hover {
    transform: scale(1.5);
  }
}

img.img-margin {
  margin-right: 8px;
}

i.edit-icon {
    color: $primary-7;
  }

i.trash-icon {
  color: $danger-7;
}


form .error {
  color: $danger-7;
  margin-left: 5px;
}

label.error {
  display: inline;
}
