.carousel-size {
  width: 500px;
  height: 300px;
}

div#image-carousel div.item img {
  object-fit: contain;
  height: 300px;
  margin: 0 auto;
}

div.img-pre-show {
  margin-right: 4px;
}

.flex-box {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.first {
  margin-bottom: 4px;
}
