<% provide :title, t("header.room") %>
<% provide :id_page, "room" %>
<div class="products">
  <div class="container">
    <div class="row justify-content-center">
      <div class="">
        <h3><%= t ".result_filter" %> : <%= total_result_filter @rooms.total_count if @rooms.present? %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="contact-form">
          <%= render "search", countries: @countries, locations: @locations %>
        </div>
      </div>
      <div class="col-md-9 list-room-content">
        <%= render "list_room", rooms: @rooms %>
      </div>
    </div>
  </div>
</div>
