<% provide :title, t("header.room") %>
<% provide :id_page, "room" %>
<div class="products">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="contact-form">
          <%= render "search", countries: @countries, locations: @locations %>
        </div>
      </div>
      <div class="col-md-9 list-room-content">
        <div class="result-filter">
          <h3><%= t ".result_filter" %> : <%= @rooms.present? ? total_result_filter(@rooms.total_count) : 0 %></h3>
        </div>
        <%= render "list_room", rooms: @rooms %>
      </div>
    </div>
  </div>
</div>
