<h2>
  <%= t "user_mailer.greeting", name: @user.name %>
</h2>
<p>
  <% if @user.activated? %>
    <%= t "user_mailer.activate" %>.
    <%= link_to t("user_mailer.link_profile"), business_home_url %>
  <% else %>
    <%= t "user_mailer.inactivate" %>
  <% end %>
</p>
