<%= provide :title, t(".title") %>
<%= provide :room_path, managers_room_path(id: @room.id) %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="page-header"><%= t ".header", name: @room.name %></h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-10">
            <%= render "managers/rooms/form" %>
          </div>
        </div>
      </div>
    </div>
  <div>
</div>
