<%= provide :title, t(".title") %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t ".title" %></h1>
    <div id="event_flash"></div>
  </div>
</div>
<%= render "managers/rooms/filter" %>
<div class="row">
  <div class="col-lg-12">
    <%= render "managers/rooms/table" %>
  </div>
</div>
