$whitefff : #ffffff;
$whiteddd : #DDD;
$blue92badd : #92badd;
$purplecccccc : #cccccc;
$whitef6f6f6: #f6f6f6;
$whitedce8f1: #dce8f1;
$black0d0d0d: #0d0d0d;
$blue5fbae9: #5fbae9;
$orangeff4444e6: #ff4444e6;
$blue95186233 : rgba(95,186,233,0.4);
$redac0202e6: #ac0202e6;
$black000: rgba(0,0,0,0.3);
$whitee7e7e7:  #e7e7e7;
$blue1a237e: #1a237e;
$blue304ffe: #304ffe;
$redb71c1c: #b71c1c;
$green2e7d32: #2e7d32;
$green388e3c: #388e3c;
$gray424242: #424242;
$gray616161: #616161;
$whitef1f1f1: #f1f1f1;
$black000: #000000;
$redF00: #F00;
$gray : #808080;
$blue1e88e5 : #0277bd;
$redd84315 : #d84315;
$redbf360c : #bf360c;
