.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: $whitefff;
  border: 1px solid $whiteddd;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid $whiteddd;
  .first, .prev, .page, .next, .last{
    padding : 0;
    float: none;
    border: none;
  }
}

#search_name {
  width: 100%;
}

.section_calendar {
  width: 60%;
  margin-left: 300px;
}

.bnt-social {
  font-size: 40px;
  margin: 10px;
}

.btn-facebook {
  color: $blue1e88e5;
}

.btn-google {
  color: $redd84315;
}

.btn-google:hover {
  color:  $redbf360c;
}

.link_login {
  color: $orangeff4444e6;

  &:hover {
    color: $redbf360c;
  }
}
