.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: $whitefff;
  border: 1px solid $whiteddd;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid $whiteddd;
  .first, .prev, .page, .next, .last{
    padding : 0;
    float: none;
    border: none;
  }
}

#search_name {
  width: 100%;
}

.section_calendar {
  width: 60%;
  margin-left: 300px;
}

.bnt-social {
  font-size: 40px;
  margin: 10px;
}

.btn-facebook {
  color: $blue1e88e5;
}

.btn-google {
  color: $redd84315;
}

.btn-google:hover {
  color:  $redbf360c;
}

.link_login {
  color: $orangeff4444e6;

  &:hover {
    color: $redbf360c;
  }
}

.form-create-report {
  padding: 24px;
  width: 900px;
  display: flex;
  background-color: white;
  margin-bottom: 18px;
}

.avatar-box-invite {
  margin-right: 10px;
}

.content-report, footer {
  background-color: $whitef2f2f2;
}

.form-reply-report {
  padding: 24px;
  width: 900px;
  border: 1px solid $purplecccccc;
  background-color: white;
  margin-bottom: 18px;
}

.reply-btn {
  cursor: pointer;
  background-color: white;
  border: none;
  color: black;
}

.reply-btn:focus {
  outline: none;
}

.text-report {
  border: 1px solid $purplecccccc;
}

.text-report:hover {
  border: 1px solid $orangeff4444e6;
}
