/* icon-i18n */
.locale_change {
  position: absolute;
  text-decoration: none;
  width: 80px;
  height: 38px;
  border-radius: 10px;
  background-color: $whitefff;
  text-align: center;
  left: 3%;
  top: 20%;
}

.co_anh {
  width: 30px;
  margin-top: 5px;
}

.co_viet_nam {
  width: 40px;
  margin-top: 5px;
}
