<% if @event.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= pluralize @event.errors.size, t("error") %>.
      <ul>
        <% @event.errors.messages.each do |key, value| %>
          <li><%= [t(key), value].join(" ") %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
