<% if @event_new.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize @event_new.errors.size, "error" %>.
    </div>
    <ul>
      <% @event_new.errors.messages.each do |key, value| %>
        <li><%= [t(key), value].join(" ") %></li>
      <% end %>
    </ul>
  </div>
<% end %>
