<%= provide :title, t(".title") %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t ".title" %></h1>
    <h2>
      <%= t ".group", name: current_user.group_name %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= render "trainers/table" %>
  </div>
</div>
